In [11]:
# El tiempo es uno de los factores más importantes para cualquier actividad empresarial.
# Ayuda a realizar un seguimiento de los datos históricos.

# DATE: 13/10/202
# TIME: 10:30 - 10h 30min 00sec
# TIMESTAMP: DATE + TIME

#Para adecuar el tiempo a diferentes zonas horarias en el mundo, se utiliza UTC (Standard Time Baseline Worldwide)
# TIME ZONE: Especifica la zona horaria de una región geográfica fija.

### DATES

In [12]:
#Importamos pandas
import pandas as pd

In [168]:
#Importamos (leer) la data 
data=pd.read_csv('D:/work date and time/Lending-company.csv', index_col='LoanID') #Asignamos 'LoanID' como columna de índice
#Para evitar modificacions a la dataset original
datacopy=data.copy() #Hacemos una copia de la data
datacopy.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [15]:
# Se puede observar la columna "StartDate" que maneja fechas (day/month/year)

In [18]:
#Mostramos los registros de la columna "StartDate"
datacopy['StartDate'].head() 
#Se puede observar que es de tipo "object"

LoanID
1    04/07/2018
2    02/01/2019
3    08/12/2016
4           NaN
5    28/10/2017
Name: StartDate, dtype: object

In [19]:
#El tipo de datos "Object" almacena cadenas, entonces tener fechas como cadena no es lo correcto.

### Module date - Working with Dates

In [20]:
#Para trabajar con el módulo date, debemos importarlo
#Proporciona 6 clases (date,time,datetime,timedelta,tzinfo,timezone) para trabajar con fechas y horas
from datetime import date

In [38]:
#Nos centraremos en la clase "date" (year/month/day)
#Creamos una varibale my_date
my_date=date(2021,2,20) #Creamos el constructor con los valores asignados

In [42]:
#Verificamos el tipo de datos
type(my_date)
#Observamos que es de tipo "datetime"

datetime.date

In [44]:
#Obtener el año de una FECHA
my_date.year

2021

In [46]:
#Obtener el mes de una FECHA (1 - 12)
my_date.month

2

In [48]:
#Obtener el día del mes de una FECHA
my_date.day

20

In [51]:
#Obtener el día de la semana de una FECHA
my_date.weekday() 
#Lunes=0,...,Sábado=5

5

In [53]:
#Diferencia entre 2 fechas
date(2022,5,5) - date(2022,7,2)
#Nos arrojará la diferencia en DÍAS

datetime.timedelta(days=-58)

In [54]:
# "timedelta": Representa una duración, la diferencia entre 2 fechas u horas

In [60]:
# Guardamos el resultado de la diferencia de 2 fechas
delta=date(2022,10,10) - date(2022,9,25)
#Obtenemos los días
delta.days

15

In [62]:
#Verificamos que el tipo de dato es "deltatime"
type(delta)

datetime.timedelta

In [66]:
#Realizamos una operación, de sumar los días de delta a una fecha
print(date(2022,7,18) + delta) #se sumó los 15 días a la fecha asignada

2022-08-02

### Module time - Working with Dates

In [67]:
#Para trabajar con el módulo time, debemos importarlo
#Proporciona 6 clases (date,time,datetime,timedelta,tzinfo,timezone) para trabajar con fechas y horas
from datetime import time

In [69]:
#Nos centramos en el módulo "time" (hour, min, second)
#Creamos una variable local_time
local_time=time(hour=10, minute=30, second=20) #Constructor con los valores de time
#O
#local_time=time(10,30,20)
local_time

datetime.time(10, 30, 20)

In [71]:
#Verificamos el tipo de datos
type(local_time)
#tipo time

datetime.time

In [73]:
#Mostramos el valor de local_time
print(local_time)

10:30:20

In [75]:
#Obtener la hora
local_time.hour

10

In [77]:
#Obtener los minutos
local_time.hour

10

In [79]:
#Obtener los segundos
local_time.second

20

In [82]:
#En el caso se haya asignado, obtener microsegundos
local_time.microsecond
# 0: valor por default, cuando no se asigna

0

In [83]:
#NOTA: Al tarabajar con "time" se debe tener en cuenta lo siguiente:
# hour<24, min<60 and second<60

### Module datetime - Working with Dates

In [84]:
#Para trabajar con el módulo datetime (fecha-hora), debemos importarlo
#Proporciona 6 clases (date,time,datetime,timedelta,tzinfo,timezone) para trabajar con fechas y horas
from datetime import datetime

In [87]:
#Nos centramos en el módulo "datetime" (date + time)
#Creamos una varibale my_datetime
my_datetime=datetime(year=2021, month=10, day=15, hour=20, minute=45, second=32, microsecond=500000) #Constructor con valores de datetime
#O
#my_datetime=datetime(2021, 10, 15, 20, 45, 32, 500000) 
my_datetime

datetime.datetime(2021, 10, 15, 20, 45, 32, 500000)

In [89]:
#Verificamos el tipo de datos
type(my_datetime)
#tipo datetime

datetime.datetime

In [96]:
#Mostramos el valor de my_datetime
print(my_datetime)

2021-10-15 18:20:32.500000

In [103]:
#Se puden usar las funciones del módulo de "date" y "time"
my_datetime.year
my_datetime.month
my_datetime.day
my_datetime.hour
my_datetime.minute
my_datetime.second
my_datetime.microsecond

500000

In [95]:
# Uso de "replace": reemplazar valores (actualizar)
my_datetime= my_datetime.replace(hour=18,minute=20) #Remplazamos los valores del dataframe por la hora 18 y el minuto 20
#Verificamos el cambio o remplazo de valores
print(my_datetime)

2021-10-15 18:20:32.500000

### strftime() - Convertir objetos de datetime en cadenas

In [104]:
#Cuandro trabajamos en Python, necesitaremos la fecha y hora formateada como una CADENA
# Para eso se utiliza .strftime() /String Format Time/
# Convierte un datetime en cadena

#Importamos los módulo date y datetime
from datetime import date, datetime

In [111]:
#Creamos una variable
my_date=date(2022,2,20) #con el formato date en el constructor
#Mostramos la fecha
print(my_date)

2022-02-20

In [ ]:
# Format Codes
# %Y : year : 2022
# %y : year : 22
# %m : month : 02
# %d : day : 20
# %H : hour(s)
# %M : munute(s)
# %S : second(s)

In [120]:
#Para obtener el año en CADENA 
my_date.strftime('%Y')

'2022'

In [122]:
#Verificamos el tipo de dato del resultado
type(my_date.strftime('%Y'))
#Observamos que es una cadena

str

In [124]:
#Para obtener el mes en CADENA
my_date.strftime('%m')

'02'

In [126]:
#Para obtener el día en CADENA
my_date.strftime('%d')

'20'

In [128]:
#Creamos un variable con valores en el constructor de datetime
my_datetime=datetime(2021,5,18,21,41,23,500000)
#Mostramos la fecha
print(my_datetime)

2021-05-18 21:41:23.500000

In [130]:
#Obtener hora en CADENA
my_datetime.strftime('%H')

'21'

In [132]:
#Obtener minutos en CADENA
my_datetime.strftime('%M')

'41'

In [136]:
#Obtener segundos en CADENA
my_datetime.strftime('%S')

'23'

### strptime() - Convertir cadenas en objetos datetime

In [137]:
#Manipularemos los datos con el método .strptime() "String parse time"
#Importamos el módulo datetime
from datetime import datetime

In [140]:
#Creamos una variable de tipo CADENA
string_datetime='2022-10-10 14:25:30'
string_datetime

'2022-10-10 14:25:30'

In [142]:
#Verificamos el tipo de dato
type(string_datetime)
#Es una cadena

str

In [143]:
# NOTA: Tener en cuenta que en Python puede ser complicado usar cadena para operaciones con datetime
# Es más práctico trabajar con datetime - por eso convertiremos de CADENA a un objeto DATETIME

In [145]:
#Convertir de CADENA a DATETIME
datetime.strptime(string_datetime, '%Y-%m-%d %H:%M:%S') # strptime(cadena, 'formato_código')

datetime.datetime(2022, 10, 10, 14, 25, 30)

### pd.to_datetime() - Converción de datos a objetos datetime

In [146]:
# Para convertir otros tipos de datos a objeto DATETIME, utilizaremos PANDAS
import pandas as pd

In [148]:
#Utilizamos la variable anteriormente creada "string_datetime"

#Convertir CADENA a DATETIME con pd.to_datetime()

#Creamos una nueva variable
new_datetime=pd.to_datetime(string_datetime, format='%Y-%m-%d %H:%M:%S') #pd.to_datetime(cadena, 'formato_código')
new_datetime

Timestamp('2022-10-10 14:25:30')

In [150]:
#Verificamos el tipo de dato
type(new_datetime)
# Timestamp: Date + Time

pandas._libs.tslibs.timestamps.Timestamp

In [154]:
#Sin el parámetro de "format", Pandas ordenará la fecha de manera inteligente (YEAR MONTH DAY HOUR MINUTR SECOND):
new_datetime=pd.to_datetime(string_datetime)
new_datetime

Timestamp('2022-10-10 14:25:30')

In [161]:
#Obtener YEAR, MONTH, DAY, HOUR, MINUTE y SECOND con pd.to_datetime()
new_datetime.year
new_datetime.month
new_datetime.day
new_datetime.hour
new_datetime.minute
new_datetime.second

30

In [164]:
# AHORA UTILIZAREMOS LA DATA QUE IMPORTAMOS
datacopy.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,2018-04-07,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,2019-02-01,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,2016-08-12,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaT,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,2017-10-28,2200,55,365,3570,4745,14720,Active

In [170]:
#Nos interesa la columna "StartDate"
datacopy['StartDate'].head()
#De tipo: Object - String

LoanID
1    04/07/2018
2    02/01/2019
3    08/12/2016
4           NaN
5    28/10/2017
Name: StartDate, dtype: object

In [176]:
#Formatear la columna "StartDate" en tipo de dato DATETIME
datacopy['StartDate']=pd.to_datetime(datacopy['StartDate']) #Formateamos a DATETIME
#Obtener info de la data
datacopy.info() 
#StartDate: tipo datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 1 to 1043
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StringID        1043 non-null   object
 1   Product         1043 non-null   object
 2   CustomerGender  1043 non-null   object
 3   Location        1043 non-null   object
 4   Region          1042 non-null   object
 5   TotalPrice      1018 non-null   float64
 6   StartDate       1042 non-null   datetime64[ns]
 7   Deposit         1043 non-null   int64
 8   DailyRate       1043 non-null   int64
 9   TotalDaysYr     1043 non-null   int64
 10  AmtPaid36       1043 non-null   int64
 11  AmtPaid60       1043 non-null   int64
 12  AmtPaid360      1043 non-null   int64
 13  LoanStatus      1006 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 122.2+ KB

### Aplicación Práctica: Timestamps

In [180]:
#Importamos el módulo datetime, como también pandas y numpy
from datetime import datetime
import pandas as pd
import numpy as np

In [182]:
#Creamos una variable y le asignamos un valor flotante de 13 digitos
timestamp=158215801.2000 #Tener en cuenta que el punto decimal separa los: [segundos].[microsegundos]

In [184]:
#Para poder convertir el tipo de dato flotante a objeto datetime

# a datetime

# .fromtimestamp(), permite convertir datos numércios a datetime
print(datetime.fromtimestamp(timestamp)) #transforma el número de segundos a valores de fecha y hora

1975-01-05 23:50:01.200000

In [185]:
# a UTC
print(datetime.utcfromtimestamp(timestamp)) #transforma el número de segundos a valores de fecha y hora

1975-01-06 04:50:01.200000

In [188]:
# a timestamp  - Convertir un datetime a timestamp

#Creamos una variable con datos datetime
my_datetime=datetime(2021,10,21,20,30,45,450000)
my_datetime

datetime.datetime(2021, 10, 21, 20, 30, 45, 450000)

In [190]:
# Convertir de datetime a timestamp
my_datetime.timestamp() #total de segundos

1634866245.45

In [194]:
# OBTENER FECHA ACTUAL
print(datetime.now())

2022-11-07 14:24:48.900300

In [196]:
# Representación en Pandas
pandas_timestamp=pd.Timestamp(datetime(2022,5,10,21,45))
pandas_timestamp

Timestamp('2022-05-10 21:45:00')

In [199]:
# Representación en Numpy
numpy_timestamp= np.datetime64('2022-05-10 21:45:00')
numpy_timestamp

numpy.datetime64('2022-05-10T21:45:00')

### Conversión entre Time Zones (Zonas Horarias)

In [201]:
#Para trabajar con Time Zones utilizaremos el módulo "pytz" y "datetime"
# Time Zones: indica la hora local para una región geográfica fija.
import pytz
from datetime import datetime

In [203]:
#Creamos una variable de tipo objeto datetime
my_datetime=datetime(2022,7,11,15,49)
#Mostramos el datetime
print(my_datetime)

2022-07-11 15:49:00

In [207]:
#El datetime mostrado no muestra información de zona horaria
#Mostrar información de las zonas horarias
my_datetime.tzinfo
print(my_datetime.tzinfo)
# None: A naive object

None

In [208]:
# pytz tiene una BD de zona horaria real llamada "Olson"
#Para que se registre la zona horaria:
my_timezone_info=datetime(2022,7,11,15,49, tzinfo=pytz.UTC) #asignamos UTC
print(my_timezone_info)

2022-07-11 15:49:00+00:00

In [210]:
#UTC: significa que podemos convertir a diferentes zonas horarias
print(my_timezone_info.tzinfo)

UTC

In [215]:
#Para poder ver todas las zonas horarias (timeszones)
pytz.all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [217]:
# Ejemplo: Convertir a la zona horaria de America/Lima
tz_PER=my_timezone_info.astimezone(pytz.timezone('America/Lima'))
print(tz_PER)

2022-07-11 10:49:00-05:00

In [220]:
# Convertir entre zonas horarias con Pandas

#Utilizamos la variable anterior tz_PER
tz_PER_pandas=pd.to_datetime(tz_PER)
tz_PER_pandas

Timestamp('2022-07-11 10:49:00-0500', tz='America/Lima')

In [222]:
tz_UTC=tz_PER_pandas.tz_convert('UTC')
print(tz_UTC)

2022-07-11 15:49:00+00:00

In [225]:
date(2018,4,7) - date(2016,10,9)

datetime.timedelta(days=545)